.list-wrapper, .list {
  display: flex;
  flex-direction: column;

  & .list {
    gap: 0.5rem 0;
    cursor: pointer;
  }
}

.container {
  padding: 5rem 2rem;
}

.list-wrapper {
  gap: 1rem 0;
}

.input {
  background-color: transparent;
}

.heading {
  font-size: 1.4rem;
  margin: 0;
}

.paragraph {
  font-size: 0.75rem;
  text-color: #000;
  opacity: 0.4;
  margin: 0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem 0;

  .text {
    background-color: transparent;
    border: none;
  }
}

.content-wrapper {
  display: flex;
  justify-self: center;
  align-items: center;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem 0;
}

.edit, .delete, .create {
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  height: fit-content;
  border: none;
  cursor: pointer;
  width: fit-content;
  color: #fff;
}

.edit {
  background-color:#008ECC;
}

.create {
  background-color:#50C878;
}

.delete {
  background-color:#D22B2B;
}

.modal {
  display: none;
  position: absolute;
  left:0;
  top:0 ;
  height: 100%;
  width: 100%;

  &.open {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .content {
    background-color: #fff;
    padding: 4rem 2.5rem;
    z-index: 20;
    position: relative;

    & .company-content {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 0.75rem 0;

      & .input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.4rem 0;
      }
    }

    & .close {
      position: absolute;
      right: 1rem;
      top: 1rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.3rem;
    }
  }

  & .backdrop {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}